<div
	id='container-products'
	class='container m-auto grid grid-cols-3 gap-4 m-4 p-4 w-1/2'
>
</div>

<script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
<script src='../public/js/products.js'></script>